In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('datasets/nba.csv')

In [3]:
df.head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [5]:
df.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

In [6]:
df['Age'].describe()

count    457.000000
mean      26.938731
std        4.404016
min       19.000000
25%       24.000000
50%       26.000000
75%       30.000000
max       40.000000
Name: Age, dtype: float64

In [7]:
df['Weight'].describe()

count    457.000000
mean     221.522976
std       26.368343
min      161.000000
25%      200.000000
50%      220.000000
75%      240.000000
max      307.000000
Name: Weight, dtype: float64

In [8]:
df['Age'].value_counts()

24.0    47
25.0    45
27.0    41
23.0    41
26.0    36
28.0    31
30.0    31
29.0    28
22.0    26
31.0    22
20.0    19
21.0    19
33.0    14
32.0    13
34.0    10
36.0    10
35.0     9
37.0     4
38.0     4
40.0     3
39.0     2
19.0     2
Name: Age, dtype: int64

In [9]:
df['Team'].value_counts()

New Orleans Pelicans      19
Memphis Grizzlies         18
New York Knicks           16
Milwaukee Bucks           16
Boston Celtics            15
Brooklyn Nets             15
Portland Trail Blazers    15
Oklahoma City Thunder     15
Denver Nuggets            15
Washington Wizards        15
Miami Heat                15
Charlotte Hornets         15
Atlanta Hawks             15
San Antonio Spurs         15
Houston Rockets           15
Dallas Mavericks          15
Indiana Pacers            15
Detroit Pistons           15
Cleveland Cavaliers       15
Chicago Bulls             15
Sacramento Kings          15
Phoenix Suns              15
Los Angeles Lakers        15
Los Angeles Clippers      15
Golden State Warriors     15
Toronto Raptors           15
Philadelphia 76ers        15
Utah Jazz                 15
Orlando Magic             14
Minnesota Timberwolves    14
Name: Team, dtype: int64

In [10]:
gp_by_position = df.groupby('Position')
gp_by_team = df.groupby('Team')
gp_by_age = df.groupby('Age')
gp_by_position_team = df.groupby(['Position', 'Team'])

In [11]:
gp_by_position.first()

,Name,Team,Number,Age,Height,Weight,College,Salary
Position,,,,,,,,
C,Kelly Olynyk,Boston Celtics,41.0,25.0,7-0,238.0,Gonzaga,2165160.0
PF,Jonas Jerebko,Boston Celtics,8.0,29.0,6-10,231.0,LSU,5000000.0
PG,Avery Bradley,Boston Celtics,0.0,25.0,6-2,180.0,Texas,7730337.0
SF,Jae Crowder,Boston Celtics,99.0,25.0,6-6,235.0,Marquette,6796117.0
SG,John Holland,Boston Celtics,30.0,27.0,6-5,205.0,Boston University,1148640.0

In [12]:
gp_by_team.first()

,Name,Number,Position,Age,Height,Weight,College,Salary
Team,,,,,,,,
Atlanta Hawks,Kent Bazemore,24.0,SF,26.0,6-5,201.0,Old Dominion,2000000.0
Boston Celtics,Avery Bradley,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Brooklyn Nets,Bojan Bogdanovic,44.0,SG,27.0,6-8,216.0,Oklahoma State,3425510.0
Charlotte Hornets,Nicolas Batum,5.0,SG,27.0,6-8,200.0,Virginia Commonwealth,13125306.0
Chicago Bulls,Cameron Bairstow,41.0,PF,25.0,6-9,250.0,New Mexico,845059.0
Cleveland Cavaliers,Matthew Dellavedova,8.0,PG,25.0,6-4,198.0,Saint Mary's,1147276.0
Dallas Mavericks,Justin Anderson,1.0,SG,22.0,6-6,228.0,Virginia,1449000.0
Denver Nuggets,Darrell Arthur,0.0,PF,28.0,6-9,235.0,Kansas,2814000.0
Detroit Pistons,Joel Anthony,50.0,C,33.0,6-9,245.0,UNLV,2500000.0
Golden State Warriors,Leandro Barbosa,19.0,SG,33.0,6-3,194.0,North Carolina,2500000.0
Houston Rockets,Trevor Ariza,1.0,SF,30.0,6-8,215.0,UCLA,8193030.0
Indiana Pacers,Lavoy Allen,5.0,PF,27.0,6-9,255.0,Temple,4050000.0
Los Angeles Clippers,Cole Aldrich,45.0,C,27.0,6-11,250.0,Kansas,1100602.0
Los Angeles Lakers,Brandon Bass,2.0,PF,31.0,6-8,250.0,LSU,3000000.0
Memphis Grizzlies,Jordan Adams,3.0,SG,21.0,6-5,209.0,UCLA,1404600.0
Miami Heat,Chris Bosh,1.0,PF,32.0,6-11,235.0,Georgia Tech,22192730.0
Milwaukee Bucks,Giannis Antetokounmpo,34.0,SF,21.0,6-11,222.0,Arizona,1953960.0
Minnesota Timberwolves,Nemanja Bjelica,88.0,PF,28.0,6-10,240.0,Louisville,3950001.0
New Orleans Pelicans,Alexis Ajinca,42.0,C,28.0,7-2,248.0,California,4389607.0
New York Knicks,Arron Afflalo,4.0,SG,30.0,6-5,210.0,UCLA,8000000.0
Oklahoma City Thunder,Steven Adams,12.0,C,22.0,7-0,255.0,Pittsburgh,2279040.0
Orlando Magic,Dewayne Dedmon,3.0,C,26.0,7-0,245.0,USC,947276.0
Philadelphia 76ers,Elton Brand,42.0,PF,37.0,6-9,254.0,Duke,947276.0
Phoenix Suns,Eric Bledsoe,2.0,PG,26.0,6-1,190.0,Kentucky,13500000.0
Portland Trail Blazers,Cliff Alexander,34.0,PF,20.0,6-8,240.0,Kansas,525093.0
Sacramento Kings,Quincy Acy,13.0,SF,25.0,6-7,240.0,Baylor,981348.0
San Antonio Spurs,LaMarcus Aldridge,12.0,PF,30.0,6-11,240.0,Texas,19689000.0
Toronto Raptors,Bismack Biyombo,8.0,C,23.0,6-9,245.0,Missouri,2814000.0
Utah Jazz,Trevor Booker,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0
Washington Wizards,Alan Anderson,6.0,SG,33.0,6-6,220.0,Michigan State,4000000.0

In [13]:
gp_by_age.first()

,Name,Team,Number,Position,Height,Weight,College,Salary
Age,,,,,,,,
19.0,Devin Booker,Phoenix Suns,1.0,SG,6-6,206.0,Kentucky,2127840.0
20.0,James Young,Boston Celtics,13.0,SG,6-6,215.0,Kentucky,1749840.0
21.0,Jordan Mickey,Boston Celtics,55.0,PF,6-8,235.0,LSU,1170960.0
22.0,R.J. Hunter,Boston Celtics,28.0,SG,6-5,185.0,Georgia State,1148640.0
23.0,Shane Larkin,Brooklyn Nets,0.0,PG,5-11,175.0,Miami (FL),1500000.0
24.0,Jared Sullinger,Boston Celtics,7.0,C,6-9,260.0,Ohio State,2569260.0
25.0,Avery Bradley,Boston Celtics,0.0,PG,6-2,180.0,Texas,7730337.0
26.0,Tyler Zeller,Boston Celtics,44.0,C,7-0,253.0,North Carolina,2616975.0
27.0,John Holland,Boston Celtics,30.0,SG,6-5,205.0,Boston University,6912869.0
28.0,Wayne Ellington,Brooklyn Nets,21.0,SG,6-4,200.0,North Carolina,1500000.0
29.0,Jonas Jerebko,Boston Celtics,8.0,PF,6-10,231.0,Missouri,5000000.0
30.0,Arron Afflalo,New York Knicks,4.0,SG,6-5,210.0,UCLA,8000000.0
31.0,Andrew Bogut,Golden State Warriors,12.0,C,7-0,260.0,Utah,13800000.0
32.0,Jarrett Jack,Brooklyn Nets,2.0,PG,6-3,200.0,Georgia Tech,6300000.0
33.0,Lou Amundson,New York Knicks,17.0,PF,6-9,220.0,UNLV,1635476.0
34.0,Jose Calderon,New York Knicks,3.0,PG,6-3,200.0,Oklahoma State,7402812.0
35.0,Mike Dunleavy,Chicago Bulls,34.0,SG,6-9,230.0,Duke,4500000.0
36.0,Luis Scola,Toronto Raptors,4.0,PF,6-9,240.0,Michigan,2900000.0
37.0,Elton Brand,Philadelphia 76ers,42.0,PF,6-9,254.0,Duke,25000000.0
38.0,Paul Pierce,Los Angeles Clippers,34.0,SF,6-7,235.0,Kansas,3376000.0
39.0,Pablo Prigioni,Los Angeles Clippers,9.0,PG,6-3,185.0,North Carolina,947726.0
40.0,Tim Duncan,San Antonio Spurs,21.0,C,6-11,250.0,Wake Forest,5250000.0

In [14]:
gp_by_position_team.first().tail(20)

                                               Name  Number   Age Height  \
Position Team
SG       Houston Rockets               Corey Brewer    33.0  30.0    6-9
         Indiana Pacers                 Monta Ellis    11.0  30.0    6-3
         Los Angeles Clippers        Jamal Crawford    11.0  36.0    6-5
         Los Angeles Lakers          Louis Williams    23.0  29.0    6-1
         Memphis Grizzlies             Jordan Adams     3.0  21.0    6-5
         Miami Heat                   Tyler Johnson     8.0  24.0    6-4
         Milwaukee Bucks           Jared Cunningham     9.0  25.0    6-4
         Minnesota Timberwolves      Andrew Wiggins    22.0  21.0    6-8
         New Orleans Pelicans    Bryce Dejean-Jones    31.0  23.0    6-6
         New York Knicks              Arron Afflalo     4.0  30.0    6-5
         Oklahoma City Thunder           Randy Foye     6.0  32.0    6-4
         Orlando Magic                Evan Fournier    10.0  23.0    6-7
         Philadelphia 76ers            Nik Stauskas    11.0  22.0    6-6
         Phoenix Suns                  Devin Booker     1.0  19.0    6-6
         Portland Trail Blazers     Pat Connaughton     5.0  23.0    6-5
         Sacramento Kings            James Anderson     5.0  27.0    6-6
         San Antonio Spurs            Manu Ginobili    20.0  38.0    6-6
         Toronto Raptors              DeMar DeRozan    10.0  26.0    6-7
         Utah Jazz                       Alec Burks    10.0  24.0    6-6
         Washington Wizards           Alan Anderson     6.0  33.0    6-6

                                 Weight         College      Salary
Position Team
SG       Houston Rockets          186.0         Florida   8229375.0
         Indiana Pacers           185.0        Michigan  10300000.0
         Los Angeles Clippers     195.0        Michigan   5675000.0
         Los Angeles Lakers       175.0            None   7000000.0
         Memphis Grizzlies        209.0            UCLA   1404600.0
         Miami Heat               186.0    Fresno State    845059.0
         Milwaukee Bucks          195.0    Oregon State    947276.0
         Minnesota Timberwolves   199.0          Kansas   5758680.0
         New Orleans Pelicans     203.0      Iowa State    169883.0
         New York Knicks          210.0            UCLA   8000000.0
         Oklahoma City Thunder    213.0       Villanova   3135000.0
         Orlando Magic            205.0         Indiana   2288205.0
         Philadelphia 76ers       205.0        Michigan   2869440.0
         Phoenix Suns             206.0        Kentucky   2127840.0
         Portland Trail Blazers   206.0      Notre Dame    625093.0
         Sacramento Kings         213.0  Oklahoma State   1015421.0
         San Antonio Spurs        205.0  North Carolina   2814000.0
         Toronto Raptors          220.0             USC  10050000.0
         Utah Jazz                214.0        Colorado   9463484.0
         Washington Wizards       220.0  Michigan State   4000000.0

In [15]:
gp_by_position.get_group('C')

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,Georgetown,947276.0
...,...,...,...,...,...,...,...,...,...
434,Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0,Central Michigan,5016000.0
439,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-11,235.0,Duke,1415520.0
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,NaN,1175880.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [16]:
gp_by_team.get_group('Utah Jazz')

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,NaN,3777720.0
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,Georgia Tech,12000000.0
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,NaN,1175880.0
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,NaN,2050000.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [17]:
gp_by_position['Age'].describe()

          count       mean       std   min   25%   50%    75%   max
Position
C          78.0  27.371795  4.156388  20.0  24.0  27.0  30.00  40.0
PF        100.0  27.160000  4.607241  20.0  24.0  27.0  30.00  40.0
PG         92.0  26.847826  4.169314  20.0  24.0  26.5  30.00  40.0
SF         85.0  26.858824  4.386540  20.0  23.0  26.0  29.00  38.0
SG        102.0  26.539216  4.643043  19.0  23.0  25.0  29.75  39.0

In [18]:
gp_by_team['Weight'].describe()

,count,mean,std,min,25%,50%,75%,max
Team,,,,,,,,
Atlanta Hawks,15.0,221.266667,25.982045,172.0,203.00,225.0,242.50,260.0
Boston Celtics,15.0,219.466667,25.606547,180.0,197.50,220.0,236.50,260.0
Brooklyn Nets,15.0,215.600000,24.377390,175.0,200.00,216.0,220.50,275.0
Charlotte Hornets,15.0,220.400000,29.908909,184.0,200.00,210.0,240.00,289.0
Chicago Bulls,15.0,218.933333,29.336634,161.0,195.50,225.0,231.00,275.0
Cleveland Cavaliers,15.0,227.866667,27.655706,179.0,208.00,225.0,250.50,275.0
Dallas Mavericks,15.0,227.000000,27.836256,185.0,202.50,230.0,245.00,275.0
Denver Nuggets,15.0,217.533333,26.297384,175.0,205.00,218.0,226.50,280.0
Detroit Pistons,15.0,222.200000,28.899333,172.0,205.00,210.0,242.50,279.0
Golden State Warriors,15.0,224.600000,29.642633,175.0,204.50,220.0,247.50,273.0
Houston Rockets,15.0,220.333333,24.578349,185.0,202.50,222.0,237.50,265.0
Indiana Pacers,15.0,222.266667,25.982045,180.0,200.00,225.0,246.50,255.0
Los Angeles Clippers,15.0,219.733333,28.265240,175.0,195.00,225.0,242.50,265.0
Los Angeles Lakers,15.0,227.066667,30.167311,175.0,205.00,230.0,250.00,270.0
Memphis Grizzlies,18.0,218.000000,30.624865,165.0,194.75,223.0,236.75,270.0
Miami Heat,15.0,218.400000,26.481260,165.0,202.50,220.0,237.50,265.0
Milwaukee Bucks,16.0,224.062500,24.340553,190.0,201.50,223.5,246.75,265.0
Minnesota Timberwolves,14.0,228.642857,30.890893,189.0,202.25,233.5,240.75,307.0
New Orleans Pelicans,19.0,221.000000,25.731520,170.0,207.50,220.0,235.00,270.0
New York Knicks,16.0,223.625000,25.038304,195.0,203.75,215.0,240.00,278.0
Oklahoma City Thunder,15.0,229.400000,22.260792,185.0,211.50,230.0,247.50,255.0
Orlando Magic,14.0,213.357143,30.047673,169.0,188.75,214.0,238.75,260.0
Philadelphia 76ers,15.0,222.133333,27.015516,175.0,203.00,215.0,246.50,275.0
Phoenix Suns,15.0,218.600000,27.218166,175.0,195.00,215.0,241.00,260.0
Portland Trail Blazers,15.0,218.600000,25.178789,173.0,203.00,215.0,240.00,265.0
Sacramento Kings,15.0,221.333333,28.019551,175.0,202.50,225.0,239.00,270.0
San Antonio Spurs,15.0,223.933333,29.711630,185.0,199.50,230.0,245.00,290.0
Toronto Raptors,15.0,221.800000,22.662745,190.0,205.00,220.0,242.50,255.0
Utah Jazz,15.0,220.000000,24.695286,179.0,204.50,226.0,232.50,265.0
Washington Wizards,15.0,219.000000,21.672893,190.0,201.50,218.0,241.00,250.0

In [19]:
iris_df = pd.read_csv('datasets/Iris.csv')

In [20]:
iris_df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [21]:
gp_by_species = iris_df.groupby('Species')
gp_by_species.first()

                  Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa        1            5.1           3.5            1.4           0.2
Iris-versicolor   51            7.0           3.2            4.7           1.4
Iris-virginica   101            6.3           3.3            6.0           2.5

In [22]:
gp_by_species['SepalLengthCm'].describe()

                 count   mean       std  min    25%  50%  75%  max
Species
Iris-setosa       50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Iris-versicolor   50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Iris-virginica    50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

In [23]:
gp_by_species['SepalWidthCm'].describe()

                 count   mean       std  min    25%  50%    75%  max
Species
Iris-setosa       50.0  3.418  0.381024  2.3  3.125  3.4  3.675  4.4
Iris-versicolor   50.0  2.770  0.313798  2.0  2.525  2.8  3.000  3.4
Iris-virginica    50.0  2.974  0.322497  2.2  2.800  3.0  3.175  3.8

In [24]:
def get_count(df_column):
    return len(df_column)

def get_mean(df_column):
    all_sum = 0
    for val in df_column:
        all_sum += val
    return all_sum/len(df_column)

def get_std(df_column):
    all_sum = 0
    mean = get_mean(df_column)
    for val in df_column:
        all_sum += (val-mean)**2
    return (all_sum/len(df_column))**0.5

def get_min(df_column):
    mn = df_column[0]
    for val in df_column:
        if val<mn:
            mn = val
    return mn

def get_max(df_column):
    mx = df_column[0]
    for val in df_column:
        if val>mx:
            mx = val
    return mx

def get_quantile(df_column, n):
    n = n/100
    indx = int(len(df_column)*n)
    df_column = sorted(df_column)
    return df_column[indx]

def get_stats(df_column):
    print('Count : ', get_count(df_column))
    print('Mean : ', get_mean(df_column))
    print('Std : ', get_std(df_column))
    print('Min : ', get_min(df_column))
    print('25% : ', get_quantile(df_column, 25))
    print('50% : ', get_quantile(df_column, 50))
    print('75% : ', get_quantile(df_column, 75))
    print('Max : ', get_max(df_column))

In [25]:
gp_by_species.get_group('Iris-setosa')['SepalLengthCm'].describe()

count    50.00000
mean      5.00600
std       0.35249
min       4.30000
25%       4.80000
50%       5.00000
75%       5.20000
max       5.80000
Name: SepalLengthCm, dtype: float64

In [26]:
get_stats(gp_by_species.get_group('Iris-setosa')['SepalLengthCm'])

Count :  50
Mean :  5.005999999999999
Std :  0.348946987377739
Min :  4.3
25% :  4.8
50% :  5.0
75% :  5.2
Max :  5.8